# Environment variables
.env
.env.local
.env.*.local

# Go Binaries and build artifacts
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
bin/
dist/

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfplan
*.binary

# IDE / OS
.DS_Store
.idea/
.vscode/
*.swp
